**/.vs
**/.vscode
**/__pycache__
**/Debug
*.sln
*.vcxproj*
**/targetver.h
**/PS/.R*
**/PS/history.txt
**/PS/program.txt
**/AG/T3/T3/date*
**/AG/T3/T3/*.pdf
**/.idea
**/*.iml
**/Java/**/out
**/Java/**/jquery
**/Java/**/*.html
**/Java/**/*.css
**/Java/**/*.js
**/Java/**/*.zip
**/Java/**/element-list
**/Java/**/resources/
**/Java/**/*.pdf
**/Java/**/*.tgf
**/Java/**/META-INF
**/.NET/**/*.csproj*
**/.NET/**/project.assets.json
**/.NET/**/packages
**/CSSO/**/certificate.crt
**/IA/__pycache__
**.in
**/out
**/build
**/*.out
**/date.in
**/.DS_Store
